<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.65;Initial Catalog=Generic.EF;uid=generic;pwd=generic" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>
    <services>
      <service name="SecondFloor.Service.AnuncianteService" behaviorConfiguration="metaData">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
          </baseAddresses>
        </host>
        <endpoint bindingNamespace="services.am.fiap.com.br" address="web" binding="webHttpBinding" contract="SecondFloor.ServiceContracts.IAnuncianteService" bindingConfiguration="MyWebHttpBinding" behaviorConfiguration="webHelp" />
        <endpoint bindingNamespace="services.am.fiap.com.br" address="basic" binding="basicHttpBinding" contract="SecondFloor.ServiceContracts.IAnuncianteService" bindingConfiguration="MyBasicHttpBinding" />
        <endpoint bindingNamespace="services.am.fiap.com.br" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingConfiguration="MyMetaDataBinding" />
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="MyWebHttpBinding">
          <security mode="None" />
        </binding>
      </webHttpBinding>

      <basicHttpBinding>
        <binding name="MyBasicHttpBinding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>

      <mexHttpBinding>
        <binding name="MyMetaDataBinding" />
      </mexHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaData">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="mex" />
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="webHelp">
          <!--<endpointDiscovery>
            <scopes>
              <add scope="ldap:///ou=teachers,o=pluralsight.com"/>
            </scopes>
          </endpointDiscovery>-->
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    
    
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>