@model SecondFloor.Web.Mvc.Models.AnuncianteViewModels

<div id="conteudoAnuncianteDetalhe">
    @{
        Html.RenderPartial("AnuncianteDetalhesPartialView");
    }
</div>

<hr />
<div id="conteudoAnuncianteEndereco">
    <h4>Lista de Enderecos</h4>

</div>

<hr />
<div id="conteudoAnuncianteProduto">
    <h4>Lista de Produtos</h4>
</div>
