@model SecondFloor.Web.Mvc.Models.AnuncianteViewModels

<div id="conteudoAnuncianteDetalhe">
    @{
        Html.RenderPartial("AnuncianteDetalhesPartialView");
    }
</div>

<hr />
<div id="conteudoAnuncianteEndereco">
    @{Html.RenderAction("List","Endereco",new {Id=Model.Id});}
</div>

<hr />
<div id="conteudoAnuncianteProduto">
    @{Html.RenderAction("List", "Produto", new { Id = Model.Id });}
</div>
